.videoContainer {
  width: 200px;
  height: 150px;
  cursor: pointer;
  margin-right: 10px;
}

.videoName {
  position: absolute;
  float: left;
  z-index: 30000;
  font-size: 20px;
  bottom: 0px;
  opacity: 0.6;
  width: inherit;
  width: 200px;
  height: 30px;
  padding: 10px;
  color: #F2F2F2;
  height: 130px;
  width: 180px;
  line-height: 220px;
}

.selected {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  width: 206px;
  height: 153px;
  box-sizing: border-box;
}

.videoName:hover {
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}